<header class="hero">
  <div class="hero-image-container">
      <img src="assets/home.jpg" alt="Hero Image" class="hero-image">
  </div>
  <div class="hero-text">
      <h1>Research Conferences</h1>
      <p>Join our online events this 2024!</p>
  </div>
</header>
<!-- Cards Section -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="assets/france.jpg" class="card-img-top" alt="France Image">
        <div class="card-body">
          <h5 class="card-title">France</h5>
          <p class="card-text">France (French: [fʁɑ̃s] ⓘ), officially the French Republic (French: République française [ʁepyblik fʁɑ̃sɛːz]),[14] is a country located primarily in Western Europe.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Architecture and Fine Arts</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="assets/seoul.jpg" class="card-img-top" alt="France Image">
        <div class="card-body">
          <h5 class="card-title">Seoul</h5>
          <p class="card-text">Seoul (/soʊl/; Korean: 서울; IPA: [sʌul] ⓘ; lit. 'Capital'), officially Seoul Special City, serves as the capital of South Korea, and is its most extensive urban center. <br></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Humanities and Arts</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="assets/sanf.jpg" class="card-img-top" alt="France Image">
        <div class="card-body">
          <h5 class="card-title">San Francisco</h5>
          <p class="card-text">San Francisco (/ˌsæn frənˈsɪskoʊ/ SAN frən-SISS-koh; Spanish for 'Saint Francis'), officially the City and County of San Francisco, is the commercial, financial, and cultural center of Northern California.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Science and Technology</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="assets/boston.jpg" class="card-img-top" alt="France Image">
        <div class="card-body">
          <h5 class="card-title">Boston</h5>
          <p class="card-text">Boston (US: /ˈbɔːstən/[9]), officially the City of Boston, is the capital and most populous city in the Commonwealth of Massachusetts in the United States. </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Engineering and Tech</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
      </div>
    </div>
  </div>
</div>